[submodule "Intro-to-Vue-3"]
	path = Intro-to-Vue-3
	url = https://github.com/pitamer/Intro-to-Vue-3
[submodule "learning_vue_cli"]
	path = learning_vue_cli
	url = https://github.com/pitamer/learning_vue_cli
[submodule "beautify-with-vuetify"]
	path = beautify-with-vuetify
	url = https://github.com/pitamer/beautify-with-vuetify
[submodule "Vue-3-Forms"]
	path = Vue-3-Forms
	url = https://github.com/pitamer/Vue-3-Forms
[submodule "Real-World-Vue-3-TypeScript"]
	path = Real-World-Vue-3-TypeScript
	url = https://github.com/pitamer/Real-World-Vue-3-TypeScript
