<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    
        <div id="app">
            {{ my_message }}
            <br><br>
            <span v-for="span in spans">
                <span v-if="span.visible">
                    {{ span.name }}
                </span>
                <br>
            </span>
        </div>

        <script src="index.js"></script>
</body>
</html>
