<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Fraunces' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <div class="title">
            <h1>{{ title }}</h1>
            <h5>{{ subTitle }}</h5>
        </div>
        <br>
        <ul>
            <todo-item
            
                v-for="todo in todos"
                v-bind:todo="todo"
                v-bind:key="todos.indexOf(todo)"
                
                v-bind:class="[{ 'done': todo.done }, 'todo']"
            >
            </todo-item>
        </ul>
        <div class="new-todo-container">
            <form v-on:submit.prevent class="new-todo-form">
                <input
                    type="text"
                    class="new-todo-input"
                    v-model="newTodoInput"
                >
                <button
                    type="submit"
                    class="new-todo-button"
                    v-on:click="addTodo(newTodoInput)"
                >
                    Add!
                </button>
            </form>
        </div>
    </div>

    <script src="index.js"></script>
</body>
</html>
