<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    
        <div id="app">
            {{ my_message }}
            <br><br>
            <span v-if="span_1_visible">
                span 1 is now visible
            </span>
            <br>
            <span v-if="span_2_visible">
                span 2 is now visible
            </span>
        </div>

        <script src="index.js"></script>
</body>
</html>
